
{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Events Ticket Card</title>
</head>
<body>
     
    <div class="container">
    {% for evennement in evennements %}
        <div class="item-container">
            <div class="img-container">
                <img src="./images/img1.jpg" alt="Event image">
            </div>
            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">{{evennement.titre}}</p>
                    <div class="separator"></div>
                    <p class="info">Bellmore, NY</p>
                    <p class="price">Free</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Grand Central Terminal
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                           {{ evennement.date ? evennement.date|date('Y-m-d') : '' }}
                        </p>

                        <p class="info description">
                           {{evennement.description}}<span>more...</span>
                        </p>
                    </div>
                </div>
                <button class="action">Participer</button>
            </div>
        </div>
    {% endfor %}
        
       
        </div>

    
</body>
</html>
{% endblock %}
