{% block search %}

<aside class="single_sidebar_widget search_widget">
<div class="input-group-append">
    <a href="{{ path('app_post_new') }}" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"> add new post</a>
 </div>
    <form action="#">
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder='Recherche une maladie'
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Recherche une maladie'">
                <div class="input-group-append">
                    <button class="btns" type="button"><i class="ti-rechercher"></i></button>
                </div>
            </div>
        </div>
        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
        type="submit">Rechercher</button>
    </form>
</aside>

{% endblock %}