{% block recent_post %}

<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title" style="color: #2d2d2d;">Recent Commentaires</h3>
    {% if commentaires is defined and commentaires is not null %}
        {% for comment in commentaires %}
            <div class="media post_item">
                <img src="assets/img/post/post_1.png" alt="post">
                <div class="media-body">
                    <a href="blog_details.html">
                        <h3 style="color: #2d2d2d;">{{ comment.content }}</h3>
                    </a>
                    <p>{{comment.createdAt|date("m/d/Y")}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
                                                        
</aside>
{% endblock %}
